.bread-div {
    padding: .5rem;
    border-bottom: 1px solid #eee;
    background-color: #e1f0ff;
}

.detailed-title {
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
}

.center {
    text-align: center;
}

.detailed-content {
    padding: 1.3rem;
    font-size: 1rem;
}

body {
    padding: 10px;
    margin: 0;
}

a {
    text-decoration: none;
}



/*对 markdown 样式的补充*/
pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #abb2bf;
    background: #23241f;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
    border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
}

strong {
    font-weight: bold;
}

p>code:not([class]) {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

img {
    max-width: 100%;
}

.article-detail {
    img {
        /* 图片居中 */
        display: flex;
        max-width: 100%;
        margin: 0 auto;
    }

    table {
        text-align: center;
        border: 1px solid #eee;
        margin-bottom: 1.5em;
    }

    th,
    td {
        // text-align: center;
        padding: 0.5em;
    }

    tr:nth-child(2n) {
        background: #f7f7f7;
    }
}

.article-detail {
    font-size: 16px;
    line-height: 30px;
}

.article-detail .desc ul,
.article-detail .desc ol {
    color: #333333;
    margin: 1.5em 0 0 25px;
}

.article-detail .desc h1,
.article-detail .desc h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-detail .desc a {
    color: #009a61;
}

.article-detail blockquote {
    margin: 0 0 1em;
    background-color: rgb(220, 230, 240);
    padding: 1em 0 0.5em 0.5em;
    border-left: 6px solid rgb(181, 204, 226);
}

.title-anchor {
    color: #888 !important;
    padding: 4px !important;
    margin: 0rem !important;
    height: auto !important;
    line-height: 1.2rem !important;
    font-size: .7rem !important;
    border-bottom: 1px dashed #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.active {
    color: rgb(30, 144, 255) !important;
}

.nav-title {
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgb(30, 144, 255);

}

.article-menu {
    font-size: 12px;
}

iframe {
    height: 34rem;
}

.detailed-content img {
    width: 100%;
    border: 1px solid #f3f3f3;
}

.title-level3 {
    display: none !important;
}

.ant-anchor-link-title {
    font-size: 12px !important;
}

.ant-anchor-wrapper {
    padding: 5px !important;
}