.author-div {
    text-align: center;
    padding: 14px;

    >div {
        margin-bottom: 14px;

    }

    .author-introduction {
        font-size: 16px;
        color: #999;
    }

    .account-list{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 70%;
        .account {
            background-color: #999;
        }
    }

    
}