.container{
    text-align: center;
    width: 100%;
    color: #888;
    .img-box{
        margin-bottom: 50px;
        >img {
            width: 100%;

        }
    }
    .btn{
           height: 60px;
           text-align: center;
           margin: 50px;
    }
}