.container {
    background: #fff;
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: #888;
    margin-top:10px;
    .btn{
        text-align: left;
        margin-top:10px;
    }
    .icon-action{
            margin-top: 16px;
            margin-left: auto
    }
}