.tag-container {
    margin-top: 20px;
    padding: 10px;

    >div {
        border-radius: 6px;
        overflow: hidden;
    }
    .tag-list{
        display: flex;
        flex-wrap: wrap;
    }
}

:global(.ant-tag) {
    font-size: 18px;
    line-height: 29px;
    cursor: pointer;
    margin: 8px;
}