.container {
    background: #fff;
    width: 100%;
    padding: 1rem;
    margin-top: 10px;

    .top-title {
        padding-bottom: 20px;
        font-size: 17px;
        font-weight: 700;
        border-bottom: 1px solid #f0f0f0;
    }

    .user-container {
        font-size: 12px;

        >div {
            margin-right: 10px;
        }

    }
}

:global(.ant-list-items) {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
}